extends ./../partials/head
block content
  input.display-none(type="text" value=day)
  .main-wrapper
    .all-header
      span.all-header-title Evinde Misin?
      .total-number-wrapper
        span.total-number-info BUGÜN EVDE KALAN KİŞİ SAYISI
        span.total-number= users.length
      .city-wrapper
        each city in cities
          .each-city
            span.city-name= city
            span.city-number(id = city)= users.filter(user => user.city == city).length
    .all-content
      span.all-content-title Evde olduğunu günlük olarak bildir, seninle birlikte kaç kişi evde hemen gör!
      span.all-content-info ŞEHRİ SEÇ, BUTONA TIKLA, HEMEN BİLDİR!
      .cities-outer-wrapper
        .select-city-button
          span Şehir Seç
          image(src="/res/images/open-button.png")
        .cities-wrapper
          each city in cities
            span.select-each-city= city
      .main-button
        span Evdeyim!
      span.response-text Response
    .all-header-responsive
      span.all-header-title Evinde Misin?
      .total-number-wrapper
        span.total-number-info BUGÜN EVDE KALAN KİŞİ SAYISI
        span.total-number#total-number-responsive= users.length
      .city-wrapper
        each city in cities
          .each-city
            span.city-name= city
            span.city-number(id = city + "responsive")= users.filter(user => user.city == city).length
