extends ./../partials/head
block content
  input.display-none#day-json(type="text" value=day)
  input.display-none#cities-json(type="text" value=JSON.stringify(cities))
  .copyright-wrapper
    span Gizlilik Politikası:
    span Kullanılacak ve işlenecek bilgiler, yalnızca bu kişinin kendi istemiyle veri girmesi halinde mümkündür. 
    span Toplanan kişisel veriler IP adresi kayıtları, tarayıcı tarafından toplanan çerez verileri ile gezinme süre ve detaylarını içeren veriler ve konum verileri ile sınırlıdır. Verilerin toplanmasındaki amaç, uygulamanın gereği dolayısıyla anonim bir şekilde tanımlanan IP adresinin 24 saat içerisinde ikinci kez kullanımını engellemektir. 
    span Tespit edilen ve kaydedilen veriler 6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamı ve kişisel verilerin toplanması ile ilgili açıklanan amaçlar dışında üçüncü kişiler ile paylaşılmayacak, satılmayacak veya kullandırılmayacaktır. 
    span İşbu Gizlilik Politikasına ilişkin olası değişiklikler bu sayfada yayınlanacaktır. Bu çerçevede, size ait hangi bilgilerin saklandığına ve bu bilgilerin nasıl kullanıldığına dair güncel olarak bilgi almanıza olanak sağlanacaktır. Bu gizlilik politikası hakkında sorularınız varsa bizimle iletişime geçebilirsiniz: info@evindemisin.com
    span Korona ile mücadelede hep beraber! Ben evimdeyim peki ya sen #evindemisin?
    span Copyright 2020 ® Yunus Gürlek
  .info-wrapper
    span Evindemisin.com Biz kimiz?
    span Bu zor dönemde birbirimize destek olmak ve Türkiye'de kaç kişinin Coronavirus tehlikesine karşı sosyal teması azaltıp evde kaldığı görmek amacıyla bir grup ögrenci olarak evindemisin.com adlı siteyi kurduk. Eğer sen de evindeysen, siteye girip evdeyim butonuna basarak bu harekete destek verebilirsin. 
    span Unutma, #EvdeKal can kurtar! Sen de evinde misin?
  .main-wrapper
    .all-header
      span.all-header-title Evinde Misin?
      .total-number-wrapper
        span.total-number-info EVİNDE KALAN KİŞİ SAYISI
        span.total-number= number
      .city-wrapper
        each city in sortedCities
          .each-city
            span.city-name= city.name
            span.city-number(id = city.name)= city.number
    .all-content
      span.all-content-title Evde olduğunu günlük olarak bildir, seninle birlikte kaç kişi evde hemen gör!
      span.all-content-info ŞEHRİ SEÇ, BUTONA TIKLA, BİZE KATIL!
      .cities-outer-wrapper
        .select-city-button
          input.select-city-input(type="text" placeholder="Şehir Seç")
          image(src="/res/images/open-button.png")
        .cities-wrapper
          each city in cities
            span.select-each-city= city
      button.main-button
        span Evdeyim!
      span.response-text Response
      .content-header-line
        i.fas.fa-copyright
        i.fas.fa-info-circle
        a.share-button(href="whatsapp://send?text=EvindeMisin web sitesi Türkiye genelinde Corona virüsüne karşı evinde kalan vatandaşların güncel olarak hangi şehirde tedbirlere destek verdiğini ve dışarı çıkmadığını belirttiği bir platform. Ben evimdeyim peki sen #EvindeMisin ? Çevrende paylaş sen de Coronayla mücadeleye destek ol!\nhttps://www.evindemisin.com/" data-action="share/whatsapp/share")
          img.share-image(src="/res/images/whatsapp_logo.png")
        a.twitter-button(href="https://twitter.com/intent/tweet?button_hashtag=EvindeMisin&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false") Tweet #EvindeMisin
    .all-header-responsive
      span.all-header-title Evinde Misin?
      .total-number-wrapper
        span.total-number-info EVİNDE KALAN KİŞİ SAYISI
        span.total-number#total-number-responsive= number
      .city-wrapper
        each city in sortedCities
          .each-city
            span.city-name= city.name
            span.city-number(id = city.name + "responsive")= city.number
